function div 2
push constant 0
pop local 0
  
label loop
push argument 0
push argument 1
sub
pop argument 0
push argument 0
push constant 0
lt
if-goto end
push local 0
push constant 1
add
pop local 0
goto loop

label end
    push local 0
    return
